div {
	/*border: 1px dotted transparent;*/
}

.field {
	height: 50%;
	/*border-color: green;*/
	background-image: url("../img/bg/bg.gif");
	background-size: cover;
	background-position: 0% 85%;
}

.field .field-sprite {
	margin-top: 15px;
}

.field > .player > .field-sprite {
	margin-left: auto;
	margin-right: 15px;
}

.field > .enemies > .field-sprite {
	margin-left: 15px;
	margin-right: auto;
}

.battle-ui {
	height: 50%;
	/*border-color: aqua;*/
}

.ui-left {
	width: 30%;
	height: 100%;
	/*border-color: blue;*/
}

.ui-right {
	width: 70%;
	height: 100%;
	/*border-color: red;*/
}

.party-slot {
	margin: 15px 15px auto!important;
}

.avatar, .field-sprite {
	width: 64px;
	height: 64px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0% 100%;
	/*border-color: pink;*/
}

.status {
	/*border-color: firebrick;*/
	width: 75%;
}

.ct {
	margin-top: 8px;
	margin-bottom: 0;
	border-radius: 0;
	height: 8px;
}

.enemies {
	height: 100%;
	/*border-color: lightcoral;*/
}

.player {
	height: 100%;
	/*border-color: lightsteelblue;*/
}

.retreating, .flip {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
